body {
    font-family:'Courier New', Courier, monospace;
    margin: 12px;
}

h1 {
    font: 800 22pt;
    margin: 20px 12px 12px 12px;
}

.button-container {
    display: flex;
}

.btn {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin: 12px;
    font-weight: 700;
}

#timer {
    margin: 12px 0 0 12px;
}